.App {
  background-color: #222;
  padding: 20px;
  color: white;
  height: 900px;
}

.App-logo {
  margin-top: 20px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input#name {
  color: white;
}

.MuiInput-input-025 {
  color: white;
}

.MuiInput-input-025:hover {
  color: white;
}

label {
  color: white;
}

.MuiFormLabel-root-010.MuiInputLabel-root-05.MuiInputLabel-formControl-06.MuiInputLabel-animated-09 {
  color: white;
}

.MuiInput-underline-021:before {
  border-bottom: 1px solid white !important;
}

.MuiInput-underline-021:after {
  border-bottom: 1px solid #00BA98 !important;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 40px;
  width: 184px;
  color: rgb(255, 255, 255);
  background-color: rgb(11, 169, 134);
  border-radius: 4px;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(11, 169, 134) !important;
  border-image: initial !important;
  transition: none 0s ease 0s !important;
  font-size: 14px;
}

#root > div > div > div > div {
  margin-right: auto;
  margin-left: auto;
}
